.InputField {
    float: left;
    border-style: solid;    
    width: 100%;
    margin: 2%;
    background-color: white;
}

#left{
    width: 40%;
}

#right{
    width: 40%;
}

@media only screen and (min-width: 768px) {
    .InputField {
        float: left;
        border-style: solid;
        width: 50%; 
        margin: 2%;
    }
}

#blocks{
    border-top: solid;
}

.block{
    border: solid;
    margin: 2%;
}
